/* Signup.css */

.smain{
    display: flex;
   padding-top: 20px;
   background: #ECF2FF;
}
.signleft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.logindiv{
    font-size: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.logindiv img{
  width: 60px;
}
.image-preview {
    margin-bottom: 10px;
    width: 123px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
  
  }
  
  .image-preview img {
    width: 123px;
    height: 120px;
    border-radius: 50%;
object-fit: cover;
  }
  
  .imageupload {
    /* text-align: center; */
    position: relative;
  }
  
  /* Style for the custom upload button */
  .imageupload label {
    width: 33px;
    height: 32px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #e8f5f7e8;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: -51px;
    left: 77%;
  }
  /* .imageupload img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  } */
  
  /* Style the file input to be hidden */
  .imageupload input[type="file"] {
    display: none;
  }
.smain input{
    width: 70%;
    height: 40px;
    text-indent: 20px;
    border-radius: 11.907px;
background: #FFF;
box-shadow: 0px 4.76291px 50.01059px 0px rgba(0, 0, 0, 0.03);
outline: none;
border: none;
font-size: 16px;
font-weight: 500;
}
.error-message{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
  .smain button{
    border: none;
    width: 120px;
    height: 40px;
    font-size: 14px;
    width: 70%;
    height: 40px;
    border-radius: 11.907px;
    background: blue;
    box-shadow: 0px 4.76291px 50.01059px 0px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
.paswardinput{
width: 70%;
display: flex;
position: relative;
}
.paswardinput input{
    width: 100%;
    text-indent: 20px;
    border-radius: 11.907px;
background: #FFF;
box-shadow: 0px 4.76291px 50.01059px 0px rgba(0, 0, 0, 0.03);
outline: none;
border: none;
font-size: 16px;
font-weight: 500;
}
  .paswardinput i:nth-of-type(1){
    position: absolute;
    top: 38%;
    right: 4%;
  }
  #secondpng{
    position: absolute;
    top: 38%;
    right: 4%;
  }

.radiobut{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.radiobut input{
width: 30px;
height: 20px;
}
.radiobut label{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}


  .signright{
    flex: 1;
  }
  .signright img{
    width: 100%;
    height: 547px;
}
.alread{
padding-bottom: 20px;
font-size: 16px;
font-weight: 500;
}
.alread a{
  color: blue;
  font-weight: 600;
}